.overlay{
    position: fixed;
    z-index: 100;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    align-items: center;
    -ms-flex-align: center;
}

.window{
    margin-top: 20vh;
    display:flex;
    flex-direction: column;
    max-width: 800px;
    min-width: 200px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    background: #ffa101;
    border-radius: 20px;
    border: 2px solid #31525b;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.field{
    display: flex;
    flex-direction: row;
    margin: 6px;
    position: relative;
    top: 0;
}

.field label{
    margin-left: 3px;
    width: 150px;
}

.field input[type=text]{
    width: 150px;
}
.field input[type=password]{
    width: 150px;
}

.field select{
    width: 150px;
    padding: 2px;
}

.fieldInputAndError{
    display: flex;
    flex-direction: column;
    margin: 0;
}

.fieldInputAndError p{
    color: red;
    margin: 0px;
}

.buttonList{
    display: flex;
    flex-direction: row;
}

.error{
    border: 2px solid red;
}

.checkList{
    display: flex;
    flex-direction: column;
    padding: 0;
}

.checkList ul{
    padding: 0;
    margin: 0;
}

.checkList ul li {
    list-style: none;
    text-align: left;
    display: flex;
    justify-content: space-between;
}