.itemContainer{
    margin: 10px;
    max-height: 50vh;
    overflow-y: auto;
}

.accordion{

}

.accordion-title{
    display: inline-block;
    padding: 4px;
    width: 80%;
    background-color: #ffa101;
    vertical-align: middle;
}

.accordion-content{
    overflow-y: hidden;
    transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
    background-color: #ecd9a8;
    width: 75%;
    max-height: 0px;
}

.showIcon{
    transition: 0.3s ease-out;
}
.rotated{
    transform: rotate(-90deg);
    transition: 0.3s ease-out;
}

.accordion-content ul {
    margin: 0;
    padding-left: 10px;
}
.listItem{
    padding: 10px 5px 10px 5px;
    list-style: none;
    display: flex;
    flex-direction: row;
}

.inActive:hover{
    background-color: #5f7f88;
    color: #fae6b1;
}

.hovering{
    background-color: #5f7f88;
    color: #fae6b1;
}

.inputPart{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
}

.icon{
    margin: 5px;
}

.inputPart input{
    width: 25px;
}


.active{
    background-color: #31525b;
    color:#fae6b1;
}